# nginx proxy address -

name: nginx-proxy-manager
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      DISABLE_IPV6: 0
      TZ: ${TZ:-America/New_York}
    ports:
      - '80:80'
      - '443:443'
      - '60132:81'
    volumes:
      - './rootfs/data/nginx-proxy-manager:/data'
      - './rootfs/data/log/nginx-proxy-manager:/config/log'
      - './rootfs/config/nginx-proxy-manager:/etc/letsencrypt'
    healthcheck:
      test: ['CMD', '/usr/bin/check-health']
      interval: 10s
      timeout: 3s
    extra_hosts:
      - 'host.docker.internal:172.17.0.1'
    networks:
      - nginx-proxy-manager

networks:
  nginx-proxy-manager:
    name: nginx-proxy-manager
    external: false
